PORT=3000
ANTHROPIC_API_KEY=your_anthropic_api_key_here
HOTEL_SERVICE_URL=http://localhost:8080
AWS_COGNITO_ISSUER_URI=https://cognito-idp.eu-central-1.amazonaws.com/YOUR_USER_POOL_ID
AWS_REGION=eu-central-1
